select {
  margin: 2px;
  width: 140px;
}

input[type=range] {
  outline: none;
  -webkit-appearance: none;
  width: 140px;
}

input[type=range]::-webkit-slider-runnable-track {
  transition: opacity .4s ease-in;
}

input[type=range]:disabled::-webkit-slider-runnable-track {
  opacity: 0;
}

.darkGreen {
  background-color: #78cd51;
}

.red {
  background-color: #ff5454;
}

.grey {
  background-color: #c0c0c0;
}

.mdl-card--expand
{
  background-color:ivory;
}

.pulse-status
{
  height: 15px;
  width: 100%;
  display: block;
}

.user-card-square.mdl-card {
  width: 320px;
  height: 220px;
}

.override-width
{
  min-width: auto !important;
}

.avatar IMG
{
  background-size: 50px 50px !important;
  height: 50px !important;
  width: 50px !important;
  margin: 5px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}